[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
future = "~=0.18.2"
pyautogui = "~=0.9.53"
qrcode = "~=7.3.1"
requests = "~=2.27.1"
pillow = "~=9.2.0"
pyside6 = "~=6.3.2"
pyzbar = "~=0.1.9"
pyarmor = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.7"
